{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="content">
		<div class="container-fluid">
				<div class="row">
						<div class="col-md-12">
								<div class="card">
										<div class="header">
												<h4 class="title">Light Bootstrap Table Heading</h4>
												<p class="category">Created using Roboto Font Family</p>
										</div>
										<div class="content">

												<div class="typo-line">
														<h1><p class="category">Header 1</p>Light Bootstrap Table Heading </h1>
												</div>

														<div class="typo-line">
														<h2><p class="category">Header 2</p>Light Bootstrap Table Heading</h2>
												</div>

												<div class="typo-line">
														<h2><p class="category">Small Tag</p>Header with small subtitle <br><small>".small" is a tag for the headers</small> </h2>
												</div>


										</div>
								</div>
						</div>

				</div>
		</div>
</div>

{% endblock %}

<!--    <script>
        $().ready(function(){
            demo.initGoogleMaps();
        });
    </script>
-->
