{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Past 24 Hour Bookings</h4>
                                <p class="category">Here is a subtitle for this table</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                    	<th>Username</th>
                                    	<th>Balance</th>
                                    	<th>City</th>
                                    	<th>Status</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td>1</td>
                                        	<td>Dakota Rice</td>
                                        	<td>58₹</td>
                                        	<td>Jabalpur</td>
                                        	<td>Open</td>
                                        </tr>
                                        <tr>
                                        	<td>2</td>
                                        	<td>Minerva Hooper</td>
                                        	<td>89₹</td>
                                        	<td>Jabalpur</td>
                                        	<td>Open</td>
                                        </tr>
                                        <tr>
                                        	<td>3</td>
                                        	<td>Sage Rodriguez</td>
                                        	<td>42₹</td>
                                        	<td>Jabalpur</td>
                                        	<td>Open</td>
                                        </tr>
                                        <tr>
                                        	<td>4</td>
                                        	<td>Philip Chaney</td>
                                        	<td>35₹</td>
                                        	<td>Korea, South</td>
                                        	<td>Open</td>
                                        </tr>
                                        <tr>
                                        	<td>5</td>
                                        	<td>Doris Greene</td>
                                        	<td>42₹</td>
                                        	<td>Malawi</td>
                                        	<td>Open</td>
                                        </tr>
                                        <tr>
                                        	<td>6</td>
                                        	<td>Mason Porter</td>
                                        	<td>15₹</td>
                                        	<td>Chile</td>
                                        	<td>Open</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
  											<div class="card">
  													<div class="header">
  															<h4 class="title">Search Booking History Parking Wise</h4>
  															<p class="category">Accounts List with less balance avaiable</p>
  													</div>
                            <div class="header">
                              <div class="input-group width_h1">
                                <input type="text" class="form-control width_dropdown" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary dropdown-toggle width_dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group width_h1">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group width_h1">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                  </div>
                                </div>
                              </div>
  															<a href="#" type="button" class="btn btn-success" >Search</a>
  															<p class="category width_h">Accounts List with less balance avaiable</p>
  													</div>
  													<div class="content table-responsive table-full-width">
  															<table class="table table-hover table-striped">
  																	<thead>
  																			<th>ID</th>
  																		<th>Name</th>
  																		<th>Balance</th>
  																		<th>Vechical No.</th>
  																		<th>City</th>
  																	</thead>
  																	<tbody>
  																			<tr>
  																				<td>1</td>
  																				<td>Dakota Rice</td>
  																				<td>18₹</td>
  																				<td>Niger</td>
  																				<td>Oud-Turnhout</td>
  																			</tr>
  																			<tr>
  																				<td>2</td>
  																				<td>Minerva Hooper</td>
  																				<td>14₹</td>
  																				<td>Curaçao</td>
  																				<td>Sinaai-Waas</td>
  																			</tr>
  																			<tr>
  																				<td>3</td>
  																				<td>Sage Rodriguez</td>
  																				<td>15₹</td>
  																				<td>Netherlands</td>
  																				<td>Baileux</td>
  																			</tr>
  																			<tr>
  																				<td>4</td>
  																				<td>Philip Chaney</td>
  																				<td>18₹</td>
  																				<td>Korea, South</td>
  																				<td>Overland Park</td>
  																			</tr>
  																			<tr>
  																				<td>5</td>
  																				<td>Doris Greene</td>
  																				<td>10₹</td>
  																				<td>Malawi</td>
  																				<td>Feldkirchen in Kärnten</td>
  																			</tr>
  																			<tr>
  																				<td>6</td>
  																				<td>Mason Porter</td>
  																				<td>13₹</td>
  																				<td>Chile</td>
  																				<td>Gloucester</td>
  																			</tr>
  																	</tbody>
  															</table>

  													</div>
  											</div>
  									</div>
                </div>
                </div>
                </div>

{% endblock %}
