{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
					<div class="col-md-8 col-md-offset-2">
                        <div class="card">
                            <div class="header text-center">
                                <h4 class="title">Create New User ID Card</h4>
                                <p class="category">Are you looking for more components? Please check our Premium Version of Light Bootstrap Dashboard.</p>
								<br>
                            </div>
                            <div class="content table-responsive table-full-width table-upgrade">
                                <table class="table asasd" >
                                    <thead>
                                        <th></th>
                                    	<th class="text-center asasd"></th>
                                    	<th class="text-center asasd"></th>
                                    </thead>
                                    <tbody>
                                        <tr class="ta">
                                        	<td colspan="3"></td>
                                        </tr>
                                        <tr class="ta">
                                        	<td class="">Name</td>
                                        	<td><input type="text" class="form-control" placeholder="Name"/></td>
                                        </tr>
                                        <tr class="">
                                        	<td>Username</td>
                                        	<td><input type="text" class="form-control" placeholder="xyz392"/></td>

                                        </tr>
                                        <tr class="">
                                        	<td>Mobile No</td>
                                        	<td><input type="text" class="form-control" placeholder="900000000"/></td>

                                        </tr>
                                        <tr class="">
                                        	<td>Password</td>
																					<td><input type="password" class="form-control" placeholder="Password"/></td>

                                        </tr>
                                        <tr class="">
                                        	<td>Login/Register/Lock Pages</td>
                                        	<td><input type="text" class="form-control" placeholder="Name"/></td>
                                        </tr>
																				<tr class="">
										                      <td colspan="3"></td>
																					<td></td>
										                      <td></td>
										                    </tr>
																				<tr class="">
										                      <td colspan="3"></td>
																					<td></td>
                                        	<td></td>
                                        </tr>
																				<tr class="">
																					<td colspan="3">
																						<center><a target="_blank" href="#" class="btn btn-round btn-fill btn-info">Generate ID Card</a></center>
																					</td>
																				</tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    

{% endblock %}
